<section class="navbar">
  <nav class="navbar navbar-expand-md fixed-top" id="mainNav">
    <img class="navbar-brand text-uppercase click" src="assets/logo/sivam.png" />
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
      data-target="#navbarMenuContent" aria-controls="navbarMenuContent" aria-expanded="false"
      aria-label="Toggle navigation" id="menu-button">
      <i class="bi bi-chevron-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenuContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link click" id="header-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click" id="aboutus-link">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click" id="services-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click" id="services-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click" id="career-link">career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link click" id="contact-link">contact</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<section id="intro">
  <div class="intro-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-interval="2000" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/bg7.jpg" class="d-block w-100 h-100 intro-img" alt="">
          <div class="carousel-caption d-md-block">
            <h1 class="title"><span>Sivam</span> Associates<br/> & Transports</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/bg8.jpg" class="d-block w-100 h-100 intro-img" alt="" loading="lazy">
          <div class="carousel-caption d-md-block">
            <h1 class="title">Artwork & Animation</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/bg6.jpg" class="d-block w-100 h-100 intro-img" alt="" loading="lazy">
          <div class="carousel-caption d-md-block">
            <h1 class="title">Digital Publishing</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="infoalign col-lg-4 col-md-6 col-sm-6">
        <div class="wrapper">
          <div class="infoicon">
            <i class="icon bi bi-headset"></i>
          </div>
          <div class="infocaption">
            <p>Call Us Anytime</p>
            <span class="inlinetext">
              9488815421
            </span>
          </div>
        </div>
      </div>
      <div class="infoalign col-lg-4 col-md-6 col-sm-6">
        <div class="wrapper">
          <div class="infoicon">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="infocaption">
            <p>Email</p>
            <span class="inlinetext">
              info@sivamA&T.com
            </span>
          </div>
        </div>
      </div>

      <div class="infoalign col-lg-4 col-md-6 col-sm-6">
        <div class="wrapper">
          <div class="infoicon">
            <i class="bi bi-geo"></i>
          </div>
          <div class="infocaption">
            <p>Locate Us</p>
            <span class="inlinetext">              
              Sudhamanipuram, Karaikudi              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="whatwedo">

  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h2>
          What We <span style="color: black;">Do.</span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, ducimus veniam illum enim est eum alias nam!
          Ducimus temporibus distinctio velit atque praesentium necessitatibus, aperiam dolorum, odio provident
          obcaecati modi magnam iste pariatur facilis sequi magni tenetur eligendi amet cum? Tenetur, sequi? Nisi
          recusandae laborum cum! Cupiditate id sequi aspernatur!
        </p>
      </div>

      <div class="col-md-6">
        <div class="clipath">
          <img src="/assets/images/bg15.jpg" class="w-100" alt="images">
        </div>

      </div>

    </div>
  </div>

</section>
<section id="aboutus">
  <div class="orangeline"></div>
  <div class="imagecircle"></div>
  <h2>About Us</h2>
  <p class="aboutustext">
    Founded by <span class="texteffect">Mr Venkatchalam</span> in December 2014, Sivam
    Associates & Transports at its present level is a company well
    placed to ensure that all the benefits associated with large
    organizations are available whilst remaining at a size that
    affirms our clients receive personal attention from our senior
    management

  </p>
</section>
<section id="services">
  <div class="container">
    <h5 class="serviceheading">
      Our Services
    </h5>
    <h2>
      What We Can Do For You
    </h2>
    <p class="servicetext">
      Sivam Associates & Transports has a peculiar focus in providing
      services for the construction , mining and transport industries. Our line
      of business is dynamic and correlates with the significant demands of
      the market. We provide the following services on contractual basis.
    </p>
  </div>
  <img src="../assets/images/bg7.jpg" class="w-100 serviceimg" alt="">
  <div class="container">
    <div class="row rowmerge">
      <div class="col-lg-4 col-md-6 col-sm-6 merge">
        <div class="card">
          <div class="card-body">
            <img src="../assets/images/transportation.png" width="70px" height="70px" alt="">
            <h5 class="card-title pt-3">Road Construction Material</h5>
            <p class="card-text">.We supply Highway Road Construction materials for public and private companies.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 merge">
        <div class="card">
          <div class="card-body">
            <img src="../assets/images/transportation.png" width="70px" height="70px" alt="">
            <h5 class="card-title pt-3">Mining machinery & Heavy Vehicle</h5>
            <p class="card-text">We provide mining machinery along with well-equipped heavy vehicle drivers as per our
              clients’ requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 merge">
        <div class="card">
          <div class="card-body">
            <img src="../assets/images/transportation.png" width="70px" height="70px" alt="">
            <h5 class="card-title pt-3">Raw Materials for Construction</h5>
            <p class="card-text">We supply raw materials for construction purposes such as Angular rocks (crushed
              rocks), Gravel stones, P Sand (plastering sand), Clay mud, M Sand (manufacturing sand)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>